<mat-sidenav-container
  [class.drawer-opened]="drawer.opened"
  [hasBackdrop]="true"
>
  <mat-sidenav
    #drawer
    class="drawer"
    mode="over"
    opened="false"
    position="end"
    fixedInViewport="true"
    fixedTopGap="64"
    fixedBottomGap="0"
  >
    <mat-toolbar
      fxLayout="row"
      fxLayoutAlign="space-between center"
      color="accent"
    >
      <div class="flex justify-between w-full">
        <div *ngIf="card">{{ card.name }}</div>
        <div>
          <button
            mat-icon-button
            (click)="add(card)"
            matTooltip="Adicionar ao baralho"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button (click)="drawer.close()" matTooltip="Fechar">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <div class="contents">
      <pk-card-details [card]="card"></pk-card-details>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="card-content">
      <div class="flex flex-wrap justify-center text-center mb-10 mt-10">
        <div *ngIf="desk" class="w-full lg:w-6/12 px-4">
          <h1 class="text-gray-900 text-4xl font-bold">
            {{ desk.nome }}
          </h1>
          <small class="mb-8">{{ desk.cards.length }} cartas</small>
        </div>
      </div>

      <div *ngIf="characters$ | async as cardsList">
        <div class="flex flex-row flex-wrap gap-4 items-center justify-center">
          <ng-container *ngFor="let card of cardsList">
            <div>
              <pk-card
                [card]="card"
                (openDetail)="showDetails($event)"
                (add)="add($event)"
                (remove)="remove($event)"
              ></pk-card>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="flex flex-wrap justify-center text-center mb-10 mt-10">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>

      <div *ngIf="emptyResult">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <h2>Nenhum item encontrado</h2>
        </div>
      </div>

      <div class="flex flex-wrap justify-center text-center mb-10 mt-10">
        <pk-pagination
          *ngIf="!emptyResult && (characters$ | async)"
          [page]="page"
          (previous)="previous()"
          (next)="next()"
        ></pk-pagination>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
